.button {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    height: 100%;
    padding: 0;
    background: transparent;
    border: none;
    box-shadow: none;
    outline: none;
}
.button:hover {
    filter: brightness(0.9);
}